@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
  color: #eee;
}

/* PROPIEDADES NAVBAR */
.navbar-img {
  content: url("./img/logos/LC-BLANCO-XL.png");
}
.navbar-img:hover {
  content: url("./img/logos/LC-COLOR-XL.png");
}
.text-navbar {
  color: rgb(38, 129, 204) !important;
}
.text-navbar:hover {
  color: #fff !important;
}
.text-navbar-links {
  color: #fff !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: bold !important;
}
.text-navbar-links:hover {
  color: rgb(38, 129, 204) !important;
}

/* Portada */
.portada {
  position: relative;
  background-image: url("./img/portada.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ajuste para evitar desbordamiento horizontal */
  width: 100%; /* Añadido */
}

.portada::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(63, 135, 194, 0.6);
}

.portada-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  /* Ajuste para evitar desbordamiento horizontal */
  width: 100%; /* Añadido */
}

.portada-content img {
  width: 40%;
  height: auto;
}

.redes-icon {
  margin-top: 30px;
  width: 100px;
}
/* ESPECIALIDADES */

.item {
  box-shadow: inset var(--itemWidthMinus) var(--itemWidthMinus) 0 #fff,
    inset var(--itemWidth) var(--itemWidthMinus) 0 rgba(63, 135, 194, 1),
    inset var(--itemWidthMinus) var(--itemWidth) 0 rgba(63, 135, 194, 1),
    inset var(--itemWidth) var(--itemWidth) 0 rgb(87, 63, 194),
    0 0 20px rgba(63, 135, 194, 1);
  transition: box-shadow ease-in-out 0.6s, color ease-in-out 0.5s;
  width: var(--itemWidth);
  height: var(--itemWidth);
  border-radius: 50%;
  text-align: center;
  background: center/50% no-repeat;
  cursor: pointer;
  display: grid;
  color: transparent;
  font-size: calc(var(--itemWidth) / 10);
  font-weight: bold;
  position: relative;
}
.item img {
  position: absolute;
  left: 50%; /* Centrar horizontalmente */
  top: 50%; /* Centrar verticalmente */
  transform: translate(-50%, -50%); /* Ajustar el centrado */
  align-items: center;
  opacity: 1;
  transition: opacity 0.8s ease, visibility 0.8s ease; /* Agregar una transición de opacidad y visibilidad */
}

.item:hover img {
  opacity: 0; /* Cambiar la opacidad a 0 al hacer hover */
  visibility: hidden; /* Ocultar la imagen al hacer hover */
}

.item:not(:hover) img {
  opacity: 1; /* Restablecer la opacidad a 1 cuando no se está haciendo hover */
  visibility: visible; /* Mostrar la imagen cuando no se está haciendo hover */
}

.container-especialidades {
  --itemWidth: min(120px, 30vw);
  --itemWidthMinus: calc(-1 * var(--itemWidth));
  height: max-content;
  width: max-content;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(10, calc(1vw + var(--itemWidth)));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item:hover {
  box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent,
    inset 0 0 0 transparent, inset 0 0 0 transparent, 0 0 20px rgba(63, 135, 194, 1);
  background-color: rgba(63, 135, 194, 1);
  color: #ffffff !important;
}

.item:hover img {
  visibility: hidden;
}

.item > span {
  width: 100%;
  top: 90%;
  align-items: center;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.especialidades-titulo {
  height: 10vh;
}

/* PORTADA CONTENIDO DE NOSOTROS */
.portada-nosotros {
  position: relative;
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/961/203/desktop-wallpaper-house-design-architecture-plans-distribution-plans.jpg");
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ajuste para evitar desbordamiento horizontal */
  width: 100%; /* Añadido */
}

.portada-nosotros::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(63, 135, 194, 0.92);
}

.contenido-nosotros_logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 50%; /* Añadido */
}
.contenido-nosotros_texto {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  width: 95%; /* Añadido */
  color: #fff;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenido-nosotros_button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenido-nosotros_button span {
  font-size: 15px;
}

.portada-content img {
  width: 40%;
  height: auto;
}
/* GALERIA DE TRABAJOS */
.col__galeria img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.9s ease;
}

.col__galeria:hover img {
  transform: scale(1.3);
  filter: brightness(1.2);
  box-shadow: 0 0 20px 5px rgba(63, 135, 194, 0.92);
}

/* PORTADA CONTENIDO DE FORMULARIO */
.portada-formulario {
  position: relative;
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/961/203/desktop-wallpaper-house-design-architecture-plans-distribution-plans.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ajuste para evitar desbordamiento horizontal */
  width: 100%; /* Añadido */
}

.portada-formulario::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(63, 135, 194, 0.92);
}

.contenido-formulario_titulo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  width: 50%; /* Añadido */
  color: #fff;
}
.contenido-formulario_subtitulo {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  text-align: center;
  width: 50%; /* Añadido */
  color: #fff;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenido-formulario_cuerpo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  text-align: center;
  width: 95%; /* Añadido */
  color: #fff;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  /*Nosotros*/
  .contenido-nosotros_logo {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Añadido */
  }
  .contenido-nosotros_logo img {
    width: 100%;
  }
  .contenido-nosotros_texto {
    top: 62%;
    left: 50%;
    width: 85%;
    font-size: 15px;
  }
  .contenido-nosotros_button {
    top: 85%;
    left: 50%;
  }
  .contenido-nosotros_button span {
    font-size: 13px;
  }

  /*ESPECIALIDADES GRID*/
  .item {
    margin-top: 10px;
  }
  .container-especialidades {
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, calc(3vw + var(--itemWidth)));
  }

  /*FORMULARIO*/
  .portada-formulario {
    height: 155vh;
    /* Ajuste para evitar desbordamiento horizontal */
    width: 100%; /* Añadido */
  }

  .contenido-formulario_titulo {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 100%; /* Añadido */
    font-size: 15px !important;
  }
  .contenido-formulario_subtitulo {
    top: 12%;
    left: 50%;
    width: 90%; /* Añadido */
    font-size: 15px;
  }

  .contenido-formulario_cuerpo {
    top: 58%;
    left: 50%;
    width: 95%; /* Añadido */
    font-size: 18px;
  }
}

/* Fuentes utilizadas */
.quiksandFont-Medium {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /*300 from 700*/
  font-style: normal;
}

.quiksandFont-Bold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  /*300 from 700*/
  font-style: normal;
}

.exo2Font-Light {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  /*100 to 900*/
  font-style: normal;
}

.exo2Font-Medium {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /*100 to 900*/
  font-style: normal;
}

.exo2Font-mediumItalic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /*100 to 900*/
  font-style: italic;
}

.exo2Font-semiBold {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  /*100 to 900*/
  font-style: normal;
}
